.searchContainer {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding-right: 15px;
	align-items: center;
}

.searchContainer :global(.searchBar__search) {
	flex: 1;
}

.bulkAlert {
	padding: 2px 10px !important;
	margin: 10px 10px 0;
}

.bulkAlert a {
	font-weight: 600;
	color: var(--color-light-blue);
	cursor: pointer;
}
