.filterGroup {
	padding: 0 15px;
}

.filterGroup.active {
	margin-bottom: 2px;
}

.filterGroup.all {
	margin-top: 7px;
}

.chatsCount {
	font-size: 12px;
	font-weight: 600;
	color: rgba(0, 0, 45, 0.5);
	padding: 15px 15px 0;
	display: flex;
	align-items: center;
}

.chatsCount > :global(.MuiCircularProgress-root) {
	margin-top: -1px;
	margin-right: 8px;
	word-wrap: normal;
	word-break: break-all;
}

.chatList {
	overflow-y: auto;
	flex: 1;
}

.chatList.unpacked {
	overflow-y: hidden;
	flex: none;
}
