.searchContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.searchContainer :global(.searchBar__search) {
	flex: 1;
}

.searchOrFilterGroup {
	background-color: white;
	padding: 10px 0;
	transition: background-color ease-in 0.2s;
}

.searchOrFilterGroup.expanded {
	background-color: var(--gray-light);
}

.searchOrFilterGroup :global(.searchBar__search) {
	background-color: transparent;
}

.searchOrFilterGroup :global(.searchBar__search) {
	padding: 0 15px !important;
}

.filterGroup {
	padding: 0 15px;
}

.filterGroup.active {
	margin-bottom: 2px;
}

.filterGroup.all {
	margin-top: 7px;
}

.bulkAlert {
	padding: 2px 10px !important;
	margin: 10px 10px 0;
}

.bulkAlert a {
	font-weight: 600;
	color: var(--color-light-blue);
	cursor: pointer;
}
