.sessionContainer {
	position: relative;
	display: flex;
	flex-direction: row;
}

.businessAvatar {
	cursor: pointer;
}

.userAvatar {
	cursor: pointer;
	margin-left: -12px;
	outline: 1px solid var(--gray-light);
}

.searchOrFilterGroup {
	background-color: white;
	padding: 10px 0;
	transition: background-color ease-in 0.2s;
}

.searchOrFilterGroup.expanded {
	background-color: var(--gray-light);
}

.searchOrFilterGroup :global(.searchBar__search) {
	background-color: transparent;
}

.searchOrFilterGroup :global(.searchBar__search) {
	padding: 0 15px !important;
}

.filterGroup {
	padding: 0 15px;
}

.filterGroup.active {
	margin-bottom: 2px;
}

.filterGroup.all {
	margin-top: 7px;
}

.bulkAlert {
	padding: 2px 10px !important;
	margin: 10px 10px 0;
}

.bulkAlert a {
	font-weight: 600;
	color: var(--color-light-blue);
	cursor: pointer;
}

.chatsCount {
	font-size: 12px;
	font-weight: 600;
	color: rgba(0, 0, 45, 0.5);
	padding: 15px 15px 0;
	display: flex;
	align-items: center;
}

.chatsCount > :global(.MuiCircularProgress-root) {
	margin-top: -1px;
	margin-right: 8px;
	word-wrap: normal;
	word-break: break-all;
}

.chatList {
	overflow-y: auto;
	flex: 1;
}

.chatList.unpacked {
	overflow-y: hidden;
	flex: none;
}
