.messageWithReaction {
	margin-bottom: 41px;
}

.reaction {
	background-color: white;
	position: absolute;
	right: 5px;
	padding: 1px 5px;
	border-radius: 10px;
	box-shadow: 0 4px 5px -6px rgba(0, 0, 45, 0.4);
	border: 1px solid #e8e1dd;
	font-size: 12px;
}
