.container {
	background-color: var(--gray-light);
	border-radius: 10px;
	font-size: 12px;
	height: 19px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container.clickable {
	cursor: pointer;
}

.name {
	max-width: 55px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-right: 5px;
}

.name.wider {
	max-width: 100px;
}

.container :global(.MuiSvgIcon-root) {
	color: var(--default-text-color) !important;
	height: 0.6em;
	width: 0.6em;
	margin: 0 3px;
}

.avatar {
	height: 19px !important;
	width: 19px !important;
	font-size: 11px !important;
	margin-right: 3px;
	align-self: center;
}

.avatar.unassigned {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.avatar :global(.MuiSvgIcon-root) {
	color: white !important;
	height: 0.5em;
	width: 0.5em;
}

.avatar.unassigned :global(.MuiSvgIcon-root) {
	color: rgba(0, 0, 0, 0.6) !important;
}

.actionIcon {
	height: 19px !important;
	width: 19px !important;
	margin-left: -2px !important;
}
