.container {
	background-color: var(--gray-light);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	height: 19px;
	padding: 0 5px 0 0;
	margin-left: 5px;
}

.container > span {
	max-width: 55px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.container :global(.MuiSvgIcon-root) {
	color: var(--default-text-color) !important;
	height: 0.6em;
	width: 0.6em;
	margin: 0 3px;
}

.avatar {
	height: 19px !important;
	width: 19px !important;
	font-size: 11px !important;
	margin-right: 3px;
	align-self: center;
}

.avatar :global(.MuiSvgIcon-root) {
	color: white !important;
	height: 0.5em;
	width: 0.5em;
}
