.listWrapper {
	border-radius: 10px;
	overflow: hidden;
}

.list {
	background-color: var(--gray-lighter);
	height: 300px;
	max-height: 100%;
	overflow-y: auto;
}

.current {
	font-weight: 600;
	color: var(--color-primary) !important;
}
