.menu > :global(.MuiPaper-root) {
	box-shadow: 0 4px 10px -6px rgba(0, 0, 45, 0.4);
	border-radius: 10px !important;
	padding: 5px 10px;
}

.reactions {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 100%;
	min-width: 150px;
}

.reaction {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.sender {
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.timestamp {
	color: rgba(0, 0, 45, 0.6);
	font-size: x-small;
	margin-bottom: 5px;
}
