.textFieldWrapper {
	background-color: white;
}

.item {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding: 5px 10px;
	font-size: 14px;
}

.item :global(.chat__message) {
	margin-bottom: 0;
}
