.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item {
	display: flex;
	flex-direction: row;
	font-size: 14px;
}

.item > :global(.MuiButton-root) {
	width: 100%;
	justify-content: flex-start;
}

.item :global(.chat__message) {
	margin-bottom: 0;
}

.item :global(.MuiButton-text) {
	text-align: left;
}

.alert {
	font-size: 12px;
}

.alert a {
	font-weight: 600;
}

.description {
	font-size: 12px;
}
