.caption {
	display: flex;
	align-items: center;
	font-size: x-small;
	margin-bottom: 5px;
	gap: 5px;
}

.caption :global(.MuiSvgIcon-root) {
	color: rgba(0, 0, 45, 0.4) !important;
	width: 0.6em;
	height: 0.6em;
}
