.container {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	font-size: 12px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgba(0, 0, 45, 0.7);
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px 10px;
	border-radius: 10px;
	box-shadow: 0 4px 5px -6px rgba(0, 0, 45, 0.4);
}

.title {
}

.title :global(.MuiSvgIcon-root) {
	height: 16px !important;
	width: 16px !important;
	margin-right: 3px !important;
}

.title > div {
	display: inline-block;
}

.timestamp {
	color: rgba(0, 0, 45, 0.6);
	margin-top: 5px;
	font-size: x-small;
}
