.recipientsPreview {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 10px;
}

.recipientsPreview > span {
	padding: 3px 5px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	margin-right: 5px;
	margin-bottom: 5px;
}

.recipientsPreview > span > .MuiSvgIcon-root {
	margin-right: 5px;
}
