* {
	margin: 0;
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 45, 0.2) transparent;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 45, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 45, 0.6);
}

.app {
	display: grid;
	place-items: center;
	background: linear-gradient(
		0deg,
		rgb(240, 241, 246) 45%,
		rgba(201, 205, 223, 1) 100%
	);
	height: 100vh;
}

.app__body {
	/*position: relative;*/
	z-index: 1;
	display: flex;
	background-color: var(--gray-light);
	height: calc(100vh - 40px);
	width: 90vw;
	box-shadow: 0 4px 10px -6px rgba(0, 0, 45, 0.7);
	max-width: 1400px;
	border-radius: var(--wrapper-border-radius);
	overflow: hidden;
}

.app__body.maximized {
	height: 100vh;
	width: 100vw;
	max-width: none;
	border-radius: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
}

a,
div {
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

.hidden {
	display: none !important;
}

.bold {
	font-weight: 600;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.cursorPointer {
	cursor: pointer;
}

.mt-3 {
	margin-top: 15px;
}

.mt-2 {
	margin-top: 10px;
}

.mt-1 {
	margin-top: 5px;
}

.mb-3 {
	margin-bottom: 15px;
}

.mb-2 {
	margin-bottom: 10px;
}

.mb-1 {
	margin-bottom: 5px;
}

.ml-3 {
	margin-left: 15px;
}

.ml-2 {
	margin-left: 10px;
}

.ml-1 {
	margin-left: 5px;
}

.mr-3 {
	margin-right: 15px;
}

.mr-2 {
	margin-right: 10px;
}

.mr-1 {
	margin-right: 5px;
}

.absoluteFullscreen {
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	height: 100% !important;
	width: 100% !important;
}

.MuiSvgIcon-root:not(.MuiAlert-root .MuiSvgIcon-root):not(
		.MuiRadio-root .MuiSvgIcon-root
	):not(.MuiCheckbox-root .MuiSvgIcon-root):not(
		.MuiButton-root .MuiSvgIcon-root
	):not(.MuiStepIcon-root) {
	color: #6f7385;
}

.MuiSvgIcon-root.error:not(.MuiAlert-root .MuiSvgIcon-root):not(
		.MuiRadio-root .MuiSvgIcon-root
	):not(.MuiCheckbox-root .MuiSvgIcon-root) {
	color: red;
}

.MuiAlert-root {
	border-radius: 10px !important;
}

.MuiAlert-root .MuiButton-root {
	font-weight: 600;
}

.MuiButton-label:not(.MuiAlert-root .MuiButton-label) {
	text-transform: none;
}

.MuiAlert-message a {
	font-weight: 600;
	text-decoration: underline;
}

.MuiAlert-filled a {
	color: white;
}

.MuiListItem-root {
	font-size: 14px !important;
}

.MuiButton-contained {
	box-shadow: none !important;
}

.MuiTab-root {
	text-transform: none !important;
}

.MuiTabScrollButton-root.Mui-disabled {
	opacity: 0.3 !important;
}

.MuiDivider-root {
	border-color: rgba(0, 0, 45, 0.05) !important;
}

.MuiPaper-rounded {
	border-radius: 10px !important;
}

.MuiDialogTitle-root {
	padding: 15px 20px 10px 20px !important;
}

.MuiDialogTitle-root .MuiTypography-root {
	font-size: 18px !important;
}

.MuiDialogContent-root:not(.MuiDialogContent-root.noPadding) {
	padding: 5px 20px !important;
}

.MuiDialogActions-root {
	padding: 10px !important;
}

.MuiDialogContentText-root {
	font-size: 15px !important;
}

.MuiDialogActions-root .MuiButton-label {
	font-size: 15px !important;
}

.MuiAlertTitle-root {
	font-weight: 600 !important;
}

.app__mediaPreview {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 99;
}

.app__mediaPreview__header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 4px 15px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 45, 0.2);
}

.app_imagePreview__header__senderInfo {
	flex: 1 1;
	padding-left: 15px;
}

.app_imagePreview__header__senderInfo > h3 {
	font-size: 16px;
	margin-bottom: 0;
}

.app_imagePreview__header__senderInfo > span {
	font-size: 12px;
	color: rgba(0, 0, 45, 0.6);
	margin-top: 0 !important;
	display: block;
}

.app__mediaPreview__header .MuiAvatar-root {
	margin-left: 5px;
}

.app__mediaPreview__container {
	flex: 1 1;
	/*noinspection CssInvalidPropertyValue*/
	width: -webkit-fill-available;
	width: -moz-available;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: hidden;
	padding: 30px;
}

.app__mediaPreview__image {
	cursor: zoom-in;
}

.app__mediaPreview__image,
.app__mediaPreview__video {
	background-color: white;
	max-height: 100%;
	max-width: 100%;
	align-self: center;
	border-radius: 10px;
}

.app__mediaPreview__zoom {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.8);
	transition: transform 300ms cubic-bezier(0.1, 0.82, 0.25, 1) 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: zoom-out;
	padding: 20px;
	transform: scale(2);
}

.app__mediaPreview__zoom > img {
	max-width: 100%;
	max-height: 100%;
}

.wordBreakAll {
	word-break: break-all;
}

.wordBreakWord {
	word-break: break-word;
}

.searchOccurrence {
	font-weight: 600;
	color: var(--color-primary);
}

.replyIcon {
	height: 0.6em !important;
	width: 0.6em !important;
	vertical-align: middle;
	margin-top: -3px;
}

.activeIconButton .MuiSvgIcon-root {
	color: var(--color-primary) !important;
}

h1 .emoji-mart-emoji,
h2 .emoji-mart-emoji,
h3 .emoji-mart-emoji {
	vertical-align: middle;
}

@media only screen and (max-width: 1500px) {
	.app__body {
		height: 100vh;
		width: 100vw;
		max-width: none;
	}
}

.mobileOnly {
	display: none;
}

@media only screen and (max-width: 750px) {
	.app__body {
		display: inherit;
		border-radius: 0;
	}

	.mobileOnly {
		display: inherit;
	}

	.desktopOnly {
		display: none !important;
	}

	.app__mediaPreview__header {
		padding: 4px 10px;
	}

	.MuiIconButton-root:not(.chatFooterGlobal .MuiIconButton-root) {
		padding: 10px !important;
	}

	.MuiDialogTitle-root .MuiTypography-root {
		font-size: 16px !important;
	}

	.MuiDialog-paper {
		margin: 16px !important;
	}

	.MuiDialog-paperScrollPaper {
		max-height: calc(100% - 32px) !important;
	}

	.MuiDialogTitle-root {
		padding: 15px 15px 10px 15px !important;
	}

	.MuiDialogContent-root:not(.MuiDialogContent-root.noPadding) {
		padding: 5px 15px !important;
	}

	.app__mediaPreview__container {
		padding: 10px;
	}
}
