.bulkSendIndicatorWrapper {
    display: flex;
    flex-direction: column;
}

.bulkSendIndicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 63px;
    padding: 0 15px;
    border-top: 1px solid lightgray;
    font-size: 15px;
}

.bulkSendIndicator .MuiLinearProgress-root {
    height: 3px;
}