.bulkSendTemplateViaCSV .MuiStepper-root {
	width: 100%;
}

.bulkSendTemplateViaCSV__csvError {
	margin-top: 15px;
}

.bulkSendTemplateViaCSV .MuiFormControl-root {
	width: 100%;
	margin-bottom: 10px;
}

.bulkSendTemplateViaCSV .MuiTableCell-head {
	font-weight: 600 !important;
}

.bulkSendTemplateViaCSV .MuiTableCell-root {
	padding: 8px !important;
}

.bulkSendTemplateViaCSV .chat__message {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.bulkSendTemplateViaCSV .stepPreviewResult__wrapper {
	border-radius: 15px;
	background-color: var(--chat-bg);
	padding: 10px;
}
