.bulkSendTemplateViaCSV .MuiStepper-root {
	width: 100%;
}

.bulkSendTemplateViaCSV__csvError {
	margin-top: 15px;
}

.bulkSendTemplateViaCSV .MuiFormControl-root {
	width: 100%;
	margin-bottom: 10px;
}

.bulkSendTemplateViaCSV .chat__message {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
