.bulkSendIndicatorWrapper {
    display: flex;
    flex-direction: column;
}

.bulkSendIndicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*height: 63px;*/
    padding: 10px 15px;
    border-top: 1px solid lightgray;
    font-size: 15px;
}

.bulkSendIndicator__timestamp {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.bulkSendIndicator .MuiLinearProgress-root {
    height: 3px;
}