.bulkSendTemplateViaCSV .MuiStepper-root {
	width: 100%;
}

.bulkSendTemplateViaCSV__csvError {
	margin-top: 15px;
}

.bulkSendTemplateViaCSV .MuiFormControl-root {
	width: 100%;
	margin-bottom: 10px;
}

.bulkSendTemplateViaCSV .MuiTableCell-head {
	font-weight: 600 !important;
}

.bulkSendTemplateViaCSV .MuiTableCell-root {
	padding: 8px !important;
}
