.sidebarBusinessProfile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ededed;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebarBusinessProfile__header {
    display: flex;
    align-items: center;
    background-color: var(--color-primary-light);
    padding: 4px 15px;
    color: white;
    font-size: 18px;
}
.sidebarBusinessProfile__header h3 {
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
}

.sidebarBusinessProfile__header .MuiSvgIcon-root {
    color: white!important;
}

.sidebarBusinessProfile__body__section {
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 1px 3px var(--shadow-light);
}

.sidebarBusinessProfile__body__section h3 {
    font-weight: 400;
}

.sidebarBusinessProfile__body__section span:not(.MuiButton-label), .sidebarBusinessProfile__body__section__subSection > div {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.sidebarBusinessProfile__body__section__subSection > div {
    margin-top: 15px;
}

.sidebarBusinessProfile__body__section__subSection h5 {
    color: rgba(0, 0, 0, 0.5);
}

.sidebarBusinessProfile__body__avatarContainer {
    display: flex;
    justify-content: center;
}

.sidebarBusinessProfile__body__avatarContainer .MuiAvatar-root {
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    font-size: 5rem!important;
    transition: opacity linear .1s;
}

.sidebarBusinessProfile__body__avatarContainer.editable .MuiAvatar-root:hover {
    cursor: pointer;
    opacity: 0.75;
}

.sidebarBusinessProfile__body__section__header {
    display: flex;
    margin-bottom: 15px;
}

.sidebarBusinessProfile__body__section__header h5 {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-primary);
    flex: 1 1;
}

.sidebarBusinessProfile__body__section .MuiFormControl-root {
    margin-bottom: 20px;
}

.sidebarBusinessProfile__body__section__subSection__action {
    display: flex;
    justify-content: flex-end;
}