.businessProfileOuter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    padding: 20px 40px;
}

.businessProfile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
    width: 1000px;
    max-width: 100%;
    padding: 20px 30px;
}

.businessProfile__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.businessProfile__header h2 {
    flex: 1 1;
}

.businessProfile__fields {
    width: 100%;
}

.businessProfile__fields .MuiFormControl-root {
    margin-bottom: 20px;
}

.businessProfile__fields .MuiButton-label {
    margin-top: 10px;
    font-size: 18px;
}