.chat__header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	padding: 0 15px;
	background-color: var(--gray-light);
	/*border-bottom: 1px solid lightgray;*/
	border-left: 1px solid lightgray;
}

.chat__header__clickable {
	flex: 1;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.chat__header__backButton {
	margin-right: 5px !important;
}

.chat__headerInfo {
	padding-left: 15px;
}

.chat__headerInfo > h3 {
	font-size: 16px;
	margin-bottom: 0;
}

.chat__headerInfo > h3 .emoji-mart-emoji {
	height: 16px !important;
	width: 16px !important;
}

.chat__headerInfo p {
	margin-bottom: 0;
	color: var(--lighter-text-color);
}

.chat__header__avatar {
	cursor: pointer;
}

.chat__header__avatar.expired > img {
	filter: grayscale(100%);
}

.chat__header__expired {
	font-size: 12px;
	color: #a9a92a !important;
	margin-top: -2px;
}

.chat__headerInfo_2__waId {
	font-size: 12px;
	color: rgba(0, 0, 45, 0.45);
}

@media only screen and (max-width: 750px) {
	.chat__header {
		padding: 4px 10px;
		border-left: none;
		box-shadow: 0 4px 5px -6px rgba(0, 0, 45, 0.4);
		z-index: 1;
	}
}
