.chat {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: var(--chat-bg);
}

.chat.chatFullWidth {
	flex: 1;
}

.chat__message__failed__info {
	font-size: 12px;
	color: red;
	text-align: right;
	margin-top: -25px;
	margin-bottom: 25px;
}

.blink .chat__message {
	opacity: 0.3;
}

.chat__media,
.chat__location__iframe {
	border-radius: 6px;
	display: block;
	margin: -1px -6px 4px -6px;
	height: 150px;
	width: 250px;
	/*max-width: 250px;*/
	object-fit: cover;
	cursor: pointer;
	border: none !important;
}

.chat__location {
	display: flex;
	flex-direction: column;
}

.chat__message__location__name {
	margin-top: 5px;
}

.chat__message__location__address {
	font-size: 12px;
	color: rgba(0, 0, 45, 0.5);
	margin-bottom: 10px;
}

.chat__message__location__share {
	align-self: center;
	justify-self: center;
}

.chat__message__location__share .MuiSvgIcon-root {
	color: var(--color-primary) !important;
	height: 0.8em;
	width: 0.8em;
}

video.chat__media {
	background-color: #b5b5b5;
}

.chat__sticker {
	width: auto;
	object-fit: contain;
	margin-bottom: 22px;
	cursor: default !important;
}

.outgoing .chat__sticker {
	margin-left: auto;
}

.chat__videoWrapper {
	align-self: center;
	position: relative;
	cursor: pointer;
	display: table;
	width: fit-content;
}

.chat__videoWrapper > .chat__videoWrapper__iconWrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	background-color: rgba(0, 0, 45, 0.4);
	border-radius: 50px;
}

.chat__voice {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chat__voiceWrapper {
	display: flex;
	flex-direction: column;
	margin: 0 -4px;
}

.chat__voice > .MuiAvatar-root.audioMessageAvatar .MuiSvgIcon-root {
	color: white !important;
}

.chat__voice > .MuiAvatar-root {
	margin: 0 4px 0 15px;
}

.chat__voice > .MuiIconButton-root {
	padding: 6px;
	margin-right: 5px;
}

.chat__voice__duration {
	font-size: x-small;
	margin-left: 55px;
}

.chat__voice__range {
	box-sizing: border-box;
	display: block;
	height: 21px;
	background-color: initial !important;
	border: none;
	outline: none;
	/*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
	margin-left: 5px;
}

a.chat__document {
	color: #4a4a4a;
	border-radius: 6px;
	margin: -1px -6px 4px -6px;
	background-color: rgba(0, 0, 45, 0.05);
	padding: 10px 6px;
	display: flex;
}

a.chat__document:hover {
	background-color: rgba(0, 0, 45, 0.08);
}

.chat__document .chat__document__filename {
	margin-left: 5px;
}

.chat__template a,
.chat__template button {
	color: var(--color-light-blue);
}

.chat__templateHeader {
	display: block;
	font-size: x-small;
	color: rgba(0, 0, 45, 0.6);
	margin-bottom: 5px;
}

.chat__templateHeader .MuiSvgIcon-root {
	color: rgba(0, 0, 45, 0.4) !important;
	width: 0.6em;
	height: 0.6em;
	margin-right: 5px;
}

.chat__templateContent__buttons {
	margin-top: 10px;
}

.chat__templateContent__header {
	display: flex;
	flex-direction: column;
}

.chat__templateContent__header img {
	align-self: center;
}

.chat__templateContent__footer {
	font-size: 12px;
	color: rgba(0, 0, 45, 0.6);
}

.chat__message__info {
	float: right;
}

.chat__timestamp {
	color: rgba(0, 0, 45, 0.6);
	margin-left: 10px;
	font-size: x-small;
}

.chat__iconPending,
.chat__iconDone,
.chat__iconDoneAll,
.chat__iconError {
	height: 10px;
	width: 10px;
	margin-left: 5px;
}

.chat__iconError * {
	fill: red;
}

.chat__body {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 10px 20px 0 20px;
	overflow-y: auto;
	overflow-x: hidden;
	border-left: 1px solid rgba(0, 0, 45, 0.05);
	min-height: 0;
}

.chat__body__empty {
	content: '';
	flex: 0 0 5px;
}

.chat__body__loadingMore {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 63px;
	z-index: 9;
	display: flex;
	justify-content: center;
}

.chat__body__loadingMore__wrapper {
	width: auto;
	padding: 10px 10px 4px 10px;
	border-radius: 40px;
	background-color: white;
	box-shadow: 0 6px 15px -6px rgba(0, 0, 45, 0.4);
}

.chat__body__dateIndicator {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 0;
	margin-top: 48px;
	z-index: 8;
	pointer-events: none;
}

.chat__body__dateIndicator .chat__message__dateContainer {
	margin-bottom: 0 !important;
}

.chat__body__dateIndicator .chat__message__dateContainer__indicator {
	pointer-events: auto;
	background-color: #e1f5fe;
	box-shadow: 0 6px 10px -6px rgba(0, 0, 45, 0.4);
}

.chat__empty {
	flex: 1 1 auto;
}

.chat .templateMessagesOuter,
.savedResponsesOuter,
.interactiveMessagesOuter {
	padding: 0 10px 10px 10px;
	border-left: 1px solid lightgray;
}

.templateMessagesOuter .searchBar__search {
	background-color: rgba(0, 0, 45, 0.17);
	border-radius: 10px 10px 0 0;
}

.templateMessagesOuter__items {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

.templateMessagesWrapper,
.savedResponsesWrapper,
.interactiveMessagesWrapper {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 10px; /*0 0 10px 10px;*/
	/*box-shadow: 0 4px 5px -6px rgba(0, 0, 45, 0.4);*/
}

.templateMessages,
.savedResponses,
.interactiveMessages {
	flex: 1 1;
	max-height: 290px;
	overflow-y: auto;
	padding: 15px;
}

.templateMessages__emptyInfo,
.savedResponses__emptyInfo {
	font-size: 15px;
	color: rgba(0, 0, 45, 0.8);
}

.templateMessages__actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 45, 0.1);
	padding-bottom: 5px;
}

.templateMessages__actions a {
	line-height: 1.2rem !important;
}

.templateMessages__create a {
	color: var(--default-text-color);
	font-weight: 600;
	font-size: 13px;
}

.templateMessages__refresh {
	font-size: 13px;
	padding: 3px 5px;
	color: var(--default-text-color);
}

.templateMessages__refresh > span:first-child {
	margin-right: 5px;
}

.templateMessages__refresh a {
	font-size: 13px !important;
	font-weight: 600;
	display: inline-block;
}

.templateMessages .templateMessageWrapper,
.savedResponses .savedResponseWrapper {
	margin-bottom: 10px !important;
}

.templateMessages .templateMessageWrapper:last-child,
.savedResponses .savedResponseWrapper:last-child {
	margin-bottom: 0 !important;
}

.templateMessages .templateMessageWrapper .chat__message,
.savedResponses .savedResponseWrapper .chat__message {
	margin-bottom: 0 !important;
	align-self: center;
}

.templateMessageWrapper,
.savedResponseWrapper {
	display: flex;
}

.templateMessageWrapper > button,
.savedResponseWrapper > button {
	margin-left: 15px;
}

.templateMessage__message,
.savedResponse__message {
	word-break: break-all;
}

.templateMessage__status {
	display: block;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 5px;
	text-align: end;
}

.rejected {
	color: #ff0015;
}

.submitted {
	color: #ffaa00;
}

.approved {
	color: #48bc00;
}

.chat__default {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 30px;
	background-color: var(--gray-light);
	border-left: 1px solid rgba(0, 0, 45, 0.05);
	z-index: 100;
}

.chat__default > h2 {
	font-size: 40px;
	color: var(--lighter-text-color);
}

.chat__default > p {
	font-size: 18px;
	color: var(--lighter-text-color);
	margin-bottom: 0;
}

.chat__message__dateContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 10px 30px 10px;
}

.chat__message__dateContainer__indicator {
	font-size: 12px;
	border-radius: 10px;
	padding: 8px 10px;
	box-shadow: 0 4px 5px -6px rgba(0, 0, 45, 0.4);
	background-color: #e1f5feeb;
	/*text-transform: uppercase;*/
}

.typeBox .emoji-mart-emoji {
	background-color: transparent !important;
	display: inline-block;
	vertical-align: top;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

/*.chat__message .emoji-mart-emoji {
    margin-top: -3px;
    margin-bottom: -4px !important;
}*/

.templateType {
	color: rgba(0, 0, 45, 0.6);
}

.pendingMessagesIndicator {
	position: absolute;
	top: 75px;
	left: 20px;
	z-index: 5;
	font-size: 12px;
	border-radius: 10px;
	background-color: white;
	padding: 6px 10px;
	box-shadow: 0 4px 10px -6px rgba(0, 0, 45, 0.4);
}

@media only screen and (max-width: 750px) {
	.chat {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.chat:not(.chatOpen) {
		display: none;
	}

	.chat__body {
		padding: 10px 10px 0 10px;
		border-left: none;
	}

	.chat__message {
		max-width: 90%;
	}

	.templateMessagesOuter {
		border-left: none;
	}

	.templateMessages {
		max-height: 200px;
	}

	.templateMessages__actions {
		flex-direction: column;
	}

	.templateMessages__refresh {
		flex-direction: column;
		text-align: center;
	}
}
