.chatTagsWrapper {
    position: relative;
}

.chatTagsWrapper__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.chatTags__tags .MuiChip-root {
    margin-top: 5px;
    margin-right: 5px;
}

.chatTags__tags__empty {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}