.chat {
    flex: 0.70;
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 4px 15px;
    /*border-bottom: 1px solid lightgray;*/
    border-left: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    font-size: 18px;
    margin-bottom: 0;
}

.chat__headerInfo p {
    margin-bottom: 0;
    color: gray;
}

.chat__header__expired {
    font-size: 12px;
    color: #a9a92a !important;
}

.chat__message {
    position: relative;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin-bottom: 25px;
    box-shadow: -1px 4px 5px -6px rgba(0, 0, 0, 0.4);
    max-width: 70%;
}

.chat__message.hasMedia {
    width: min-content;
}

.chat__message a {
    color: #4fc3f7;
}

.chat__media {
    border-radius: 6px;
    display: block;
    margin: 0 -4px 4px -4px;
    height: 150px;
    width: 250px;
    /*max-width: 250px;*/
    object-fit: cover;
    cursor: pointer;
}

video.chat__media {
    background-color: rgba(0, 0, 0, 0.6);
}

.chat__videoWrapper {
    position: relative;
    cursor: pointer;
    display: table;
}

.chat__videoWrapper > .chat__videoWrapper__iconWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}

.chat__voice {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 -4px;
}

.chat__voice > .MuiAvatar-root {
    margin: 0 4px 0 15px;
}

.chat__voice > .MuiIconButton-root {
    padding: 6px;
    margin-right: 5px;
}

.chat__voice__duration {
    position: absolute;
    top: 55px;
    left: 55px;
    font-size: x-small;
}

.chat__voice__range {
    box-sizing: border-box;
    display: block;
    height: 21px;
    background-color: initial!important;
    border: none;
    outline: none;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    margin-left: 5px;
}

a.chat__document {
    color: #4a4a4a;
    border-radius: 6px;
    margin: 0 -4px 4px -4px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px 6px;
    display: flex;
}

a.chat__document:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.chat__document .chat__document__filename {
    margin-left: 5px;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-size: x-small;
    font-weight: 600;
}

.chat__receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__message__info {
    float: right;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: x-small;
}

.chat__iconDoneAll {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.chat__seen .chat__iconDoneAll * {
    fill: #4fc3f7;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px 30px 0 30px;
    overflow-y: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 0;
}

.chat__body__empty {
    content: '';
    flex: 0 0 5px;
}

.chat__body__loadingMore {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
    padding: 10px 10px 4px 10px;
    border-radius: 40px;
    background-color: white;
    box-shadow: -1px 6px 15px -6px rgba(0, 0, 0, 0.4);
    z-index: 9;
}

.chat__empty {
    flex: 1 1 auto;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    /*border-top: 1px solid lightgray;*/
    border-left: 1px solid lightgray;
    padding: 0 10px;
}

.chat__footer.expired {
    height: auto!important;
    align-items: normal;
    flex-direction: column;
    padding: 15px;
}

.chat__footer > .chat__mediaForm {
    display: none;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > textarea {
    height: 25px;
    max-height: 400px;
    resize: none;
    flex: 1;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0 10px;
    border: none;
    box-shadow: -1px 4px 5px -6px rgba(0, 0, 0, 0.4);
}

.chat__footer > form > textarea:focus {
    outline: none;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    /*padding: 10px;*/
    color: gray;
}

.chat__footer__expiredWarning {
    font-size: 14px;
    color: gray;
}

.templateMessagesOuter {
    padding: 5px 15px 15px 15px;
    border-left: 1px solid lightgray;
}

.templateMessages {
    flex: 1 1;
    max-height: 290px;
    overflow-y: auto;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: -1px 4px 5px -6px rgba(0, 0, 0, 0.4);
}

.templateMessages .templateMessageWrapper {
    margin-bottom: 15px!important;
}

.templateMessages .templateMessageWrapper:last-child {
    margin-bottom: 0!important;
}

.templateMessages .templateMessageWrapper .chat__message {
    margin-bottom: 0!important;
}

.templateMessageWrapper {
    display: flex;
}

.templateMessageWrapper > button {
    margin-left: 15px;
}

.templateMessages__message {
    background-color: #d7edf4!important;
}

.templateMessage__status {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: end;
}

.rejected {
    color: #ff0015;
}

.submitted {
    color: #ffaa00;
}

.approved {
    color: #48bc00;
}

.chat__default {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: #ededed;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.chat__default > h2 {
    font-size: 40px;
    color: gray;
}

.chat__default > p {
    font-size: 18px;
    color: gray;
    margin-bottom: 0;
}