.chatAssignmentWrapper {
	position: relative;
}

.chatAssignmentWrapper__main_message {
	margin-bottom: 24px;
}

.chatAssignmentWrapper__message {
	margin-bottom: 5px;
}

.chatAssignmentWrapper__loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}

.chatAssignment .MuiFormControl-root {
	margin-bottom: 15px;
}
