.chat__message__context {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 4px;
    border-left: 4px solid var(--color-primary);
    background-color: rgba(0, 0, 0, 0.07);
    margin: 0 -4px 4px -4px;
    font-size: 12px;
}

.chat__message__context__info {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.chat__message__context__info__sender {
    color: var(--color-primary);
    font-weight: 600;
}

.chat__message__context__info__message {
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.chat__message__context__info__message .MuiSvgIcon-root {
    height: 0.8em;
    width: 0.8em;
    margin-right: 3px;
}

.chat__message__context__preview {
    margin-left: 3px;
}

.chat__message__context__preview img {
    display: block;
    min-height: 48px;
    width: 48px;
    height: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    object-fit: cover;
}

.chat__message__context .chatMessageTypeLabel {
    font-weight: 600;
}