.contacts {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 10;
}

.contacts__header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 4px 15px;
    background-color: var(--color-primary);
    color: white;
}

.contacts__header h3 {
    margin-left: 15px;
    font-weight: 400;
    font-size: 18px;
}

.contacts__header .MuiSvgIcon-root {
    color: white !important;
}

.contacts__startByPhoneNumberWrapper {
    background-color: white;
}

.contacts__startByPhoneNumber {
    background-color: var(--color-primary-transparent);
    color: var(--color-primary);
}

.contacts__startByPhoneNumber .MuiListItem-root {
    padding: 0;
}
.contacts__startByPhoneNumber .MuiListItem-root:hover {
    background-color: var(--color-primary-transparent-darker);
}

.contacts__startByPhoneNumber__inner {
    flex: 1;
    padding: 20px 15px;
}

.contacts__startByPhoneNumberWrapper__formWrapper {
    display: flex;
    padding: 10px 15px;
}

.contacts__startByPhoneNumberWrapper__formWrapper .MuiTextField-root {
    flex: 1;
    margin-right: 15px;
}

.contacts__startByPhoneNumber__inner .MuiSvgIcon-root {
    height: 0.8em;
    width: 0.8em;
    color: var(--color-primary) !important;
    margin-right: 10px;
}

.contacts__body {
    position: relative;
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.contacts__body__headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.contacts__body__headerWrapper > h3 {
    flex: 1;
    padding: 10px 15px;
    font-weight: 400;
    color: var(--color-primary);
}

.contacts__body__headerWrapper .MuiButtonBase-root {
    padding: 6px;
}

.contacts__body .MuiListItem-root {
    padding: 0;
}

.contacts__body__hint {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.contacts__body__loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
