.contactDetails {
    display: flex;
    flex-direction: column;
    flex: 0.40 1;
    border-left: 1px solid lightgray;
}

.contactDetails__header {
    display: flex;
    align-items: center;
    padding: 4px 15px;
}

.contactDetails__header > h3 {
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
}

.contactDetails__body {
    background-color: #ededed;
    flex: 1 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.contactDetails__body__section {
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 1px 3px var(--shadow-light);
}

.contactDetails__body__section > h3 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}

.contactDetails__body__section > span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.contactDetails__body__avatarContainer {
    display: flex;
    justify-content: center;
}

.contactDetails__body__avatar {
    height: 200px!important;
    width: 200px!important;
    margin-bottom: 15px;
    font-size: 5rem!important;
}