.contactWrapper {
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
}

.contact {
    display: flex;
    align-items: center;
    flex: 1 1;
    padding: 10px 15px;
    cursor: pointer;
}

.contact .MuiAvatar-root {
    align-self: baseline;
    height: 50px;
    width: 50px;
}

.contact__avatarWrapper {
    position: relative;
}

.contact__avatarWrapper .contactProviderHeader {
    display: flex;
    position: absolute;
    bottom: -3px;
    right: -3px;
    padding: 3px;
    background-color: white;
    border-radius: 10px;
}

.contact__info__phoneNumber {
    font-size: 14px;
    color: var(--color-primary);
}

.contact__info__missingPhoneNumber {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.contact__info {
    flex: 1 1;
    margin-left: 15px;
}

.contact__info h2 {
    font-weight: 600;
    font-size: 14px;
}

.contact__info__otherPhoneNumbers {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.contactPhoneNumbersChoices {
    background-color: var(--color-primary-transparent);
    padding: 10px 15px;
}

.contactPhoneNumbersChoices h3 {
    font-size: 12px;
    color: var(--color-primary);
}

.contactPhoneNumbersChoices__choice {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: white;
    color: var(--color-primary);
    margin-top: 5px;
    margin-right: 10px;
    box-shadow: -1px 4px 5px -6px rgba(0, 0, 0, 0.4);
    transition: box-shadow ease .3s;
}

.contactPhoneNumbersChoices__choice:hover {
    box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.4);
}