:root {
    --color-primary: #009688;
    --color-primary-light: #00bfa5;
    --color-light-blue: #4fc3f7;
    --gray-light: #ededed;
    --default-text-color: #212529;
    --shadow-light: rgba(0, 0, 0, 0.08);
    --header-height: 56px;
    --font-family: 'Inter', 'Roboto', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Arial', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html, body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: var(--default-text-color);
    text-align: left;
    font-size: 16px;
    font-family: var(--font-family) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type="text"], textarea {
    line-height: 1.5rem;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
}