:root {
	--color-primary: #65cbac;
	--color-primary-transparent: rgba(0, 150, 136, 0.05);
	--color-primary-transparent-darker: rgba(0, 150, 136, 0.08);
	--color-primary-light: #86e7c9;
	--color-secondary: #e33e7f;
	--color-light-blue: #4fc3f7;
	--gray-light: #eaecf2;
	--gray-lighter: #f2f3f6;
	--default-text-color: #212329;
	--lighter-text-color: rgb(90, 92, 105);
	--shadow-light: rgba(0, 0, 45, 0.08);
	--header-height: 56px;
	--font-family: 'Inter', 'Roboto', 'Helvetica Neue', -apple-system,
		BlinkMacSystemFont, 'Arial', sans-serif;
	--wrapper-border-radius: 10px;
	--chat-bg: #e8e0dc;
	--chat-icon: #645652;
	--chat-icon-dark: #463732;
	--red: #fa1313;
	--red-dark: #961414;
}

@media only screen and (max-width: 1500px) {
	:root {
		--wrapper-border-radius: 0;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	font-weight: 400;
	line-height: 1.5;
	color: var(--default-text-color);
	text-align: left;
	font-size: 16px;
	font-family: var(--font-family) !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input[type='text'],
textarea {
	line-height: 1.5rem;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace !important;
}
