.loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 30px 60px;
    z-index: 500;
}

.loadingScreen__progressContainer {
    width: 100%;
}