.notifications {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.notifications__header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 4px 15px;
    background-color: var(--color-primary);
    color: white;
}

.notifications__header h3 {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 15px;
}

.notifications__header .MuiSvgIcon-root {
    color: white !important;
}

.notifications__body {
    position: relative;
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.notifications__body__empty {
    padding: 10px 15px;
    font-size: 14px;
}

.notifications .notification {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    font-size: 12px;
    border-bottom: 1px solid #f5f5f5;
    background-color: white;
}

.notifications .notification.error {
    background-color: rgba(255, 0, 0, 0.025);
}

.notifications .notification > h3 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}

.notifications .notification.error > h3 {
    color: rgba(255, 0, 0, 0.8);
}

.notifications .notification__timestamp {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
    align-self: flex-end;
}

.notifications .notification__code {
    border-radius: 5px;
    background-color: var(--gray-light);
    padding: 5px 10px;
}

.notifications .notification.error .notification__code {
    background-color: rgba(255, 0, 0, 0.08);
}