.notificationsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 15px 10px;
}

.notifications__header h3 {
    margin-left: 15px;
    font-weight: 400;
    font-size: 18px;
}

.notificationsWrapper .notification {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
}