.previewSendMedia {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    z-index: 150;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.previewSendMedia__header {
    background-color: #00bfa5;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex: none;
    align-items: center;
    height: 49px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
}

.previewSendMedia__header .MuiSvgIcon-root {
    color: rgba(255, 255, 255, 0.7)!important;
    margin-right: 20px;
    cursor: pointer;
}

.previewSendMedia__preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.previewSendMedia__preview__imageWrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.previewSendMedia__preview__image {
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.previewSendMedia__caption {
    padding: 40px 140px;
}

.previewSendMedia__footer {
    background-color: #d9d9d9;
    position: relative;
}

.previewSendMedia__footer__inner {
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.previewSendMedia__footer__sendWrapper {
    position: absolute;
    right: 50px;
    top: 0;
    margin-top: -33px;
}

.previewSendMedia__footer__send {
    padding: 20px!important;
    background-color: #09e85e!important;
    box-shadow: -1px 4px 10px -6px rgba(0, 0, 0, 0.4);
}

.previewSendMedia__footer__send .MuiSvgIcon-root {
    color: white!important;
}

.previewSendMedia__footer__thumbnail {
    cursor: pointer;
}

.previewSendMedia__footer__thumbnail__image {
    height: 75px;
    width: 75px;
    margin: 10px 3px;
    object-fit: cover;
    box-shadow: -1px 4px 6px -6px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 3px;
}