.previewSendMedia {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    z-index: 150;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.previewSendMedia__header {
    background-color: #00bfa5;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex: none;
    align-items: center;
    height: 49px;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
}

.previewSendMedia__header .MuiSvgIcon-root {
    color: rgba(255, 255, 255, 0.7)!important;
    margin-right: 20px;
    cursor: pointer;
}

.previewSendMedia__preview {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.previewSendMedia__preview__imageWrapper {
    position: relative;
}

.previewSendMedia__preview__image {
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}

.previewSendMedia__caption {
    padding: 40px 100px;
}

.previewSendMedia__footer {
    background-color: #d9d9d9;
    padding: 15px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.previewSendMedia__footer__thumbnail {
    cursor: pointer;
}

.previewSendMedia__footer__thumbnail__image {
    height: 100px;
    width: 100px;
    margin: 10px;
}