.retryFailedMessagesWrapper {
    display: flex;
    flex-direction: column;
}

.retryFailedMessagesWrapper .MuiAlert-root {
    border-radius: 0 !important;
}

.retryFailedMessages.sending {
    opacity: 0.5;
}