.retryFailedMessagesWrapper {
    display: flex;
    flex-direction: column;
}

.retryFailedMessagesWrapper .MuiAlert-root {
    border-radius: 0 !important;
}

.retryFailedMessages.sending {
    opacity: 0.5;
}

.retryFailedMessages__lastSendAttemptAt {
    font-size: 12px !important;
    margin-top: 10px;
    opacity: 0.8;
}