.retryFailedMessagesWrapper {
    display: flex;
    flex-direction: column;
}

.retryFailedMessages {
    background-color: red;
    font-size: 16px;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.8);
}

.retryFailedMessages.sending {
    opacity: 0.5;
}

.retryFailedMessages a {
    cursor: pointer;
    font-weight: 600 !important;
    color: white !important;
}