.searchMessage {
	display: flex;
	flex-direction: column;
	flex: 0.4 1;
	border-left: 1px solid lightgray;
}

.searchMessage__header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	padding: 4px 15px;
	background-color: var(--gray-light);
}

.searchMessage__header > h3 {
	margin-left: 15px;
	font-weight: 400;
	font-size: 16px;
}

.searchMessage__body {
	background-color: white;
	flex: 1 1;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.searchMessage__body .MuiListItem-root {
	padding: 0;
}

.searchResult__message {
	flex: 1 1;
	cursor: pointer;
	padding: 10px 15px;
	border-bottom: 1px solid #f2f3f6;
}

@media only screen and (max-width: 750px) {
	.searchMessage {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		border-left: none;
	}

	.searchMessage__header {
		padding: 4px 10px;
	}
}
