.searchMessage {
    display: flex;
    flex-direction: column;
    flex: 0.40 1;
    border-left: 1px solid lightgray;
}

.searchMessage__header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 4px 15px;
    background-color: var(--gray-light);
}

.searchMessage__header > h3 {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
}

.searchMessage__body {
    background-color: white;
    flex: 1 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.searchMessage__body .MuiListItem-root {
    padding: 0;
}

.searchResult__message {
    flex: 1 1;
    cursor: pointer;
    padding: 10px 15px;
    border-bottom: 1px solid #f5f5f5;
}

/*.searchResult__message:hover {
    background-color: #f5f5f5;
}*/

.searchResult__message__header {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
}

.searchResult__message__body {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    word-break: break-all;
}

searchResult__message__body__text {
    word-break: break-all;
}

/*.searchResult__message__body__type {
    margin-right: 10px;
}*/

.searchResult__message__body__type .MuiSvgIcon-root {
    margin-right: 5px;
    margin-left: 0 !important;
    width: 0.75em;
    height: 0.75em;
}

.searchResult__message__body__type .chat__received .chat__iconDoneAll * {
    fill: var(--color-light-blue);
}

/*.searchResult__message__body__text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/

@media only screen and (max-width: 750px) {
    .searchMessage {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        border-left: none;
    }

    .searchMessage__header {
        padding: 4px 10px;
    }
}