/*.searchResult__message:hover {
    background-color: var(--gray-lighter);
}*/

.searchResult__message__header {
	font-size: 12px;
	color: rgba(0, 0, 45, 0.45);
}

.searchResult__message__header h3 {
	font-size: 14px;
	color: var(--default-text-color);
	margin-top: 5px;
	margin-bottom: 2px;
}

.searchResult__message__body {
	font-size: 14px;
	color: rgba(0, 0, 45, 0.6);
	word-break: break-all;
}

.searchResult__message__body a {
	pointer-events: none;
	cursor: default;
}

searchResult__message__body__text {
	word-break: break-all;
}

/*.searchResult__message__body__type {
    margin-right: 10px;
}*/

.searchResult__message__body__type .MuiSvgIcon-root {
	margin-right: 5px;
	margin-left: 0 !important;
	width: 0.75em;
	height: 0.75em;
}

.searchResult__message__body__type .chat__received .chat__iconDoneAll * {
	fill: var(--color-light-blue);
}

/*.searchResult__message__body__text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
