.sendTemplateMessage__title {
	margin-bottom: 20px;
	word-break: break-all;
}

.sendTemplateMessage h6 {
	color: rgba(0, 0, 45, 0.5);
	margin-bottom: 5px;
}

.sendTemplateMessage__section {
	padding: 15px 20px;
	border-radius: 10px;
	background-color: rgba(0, 0, 45, 0.03);
	margin-bottom: 10px;
}

.sendTemplateMessage__section .MuiAlert-root {
	margin-bottom: 10px;
}

.sendTemplateMessage__section
	.MuiButtonBase-root:not(
		.sendTemplateMessage__section__provideFileChoices .MuiButtonBase-root
	) {
	margin-right: 10px;
}

.sendTemplateMessage__section__fileType {
	margin-bottom: 15px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	color: var(--color-primary);
	font-weight: 600;
}

.sendTemplateMessage__section__provideFileChoices {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.sendTemplateMessage__section__provideFileChoices__choice {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 10px;
	justify-content: flex-start;
}

.sendTemplateMessage__section__provideFileChoices__choice > .MuiSvgIcon-root {
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}

.sendTemplateMessage__section__provideFileChoices__choice > span {
	font-weight: 600;
	color: var(--lighter-text-color);
	text-align: center;
}

.sendTemplateMessage__section__uploadWrapper {
	display: flex;
	justify-content: center;
}

.sendTemplateMessage__section__provideFileOtherChoice {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.templateMessage__param {
	margin-top: 10px !important;
}

.templateMessage__buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.templateMessage__buttons--button + .templateMessage__buttons--button {
	border-top: 1px solid #ebebeb;
	padding-top: 10px;
}

.templateMessagesDialogErrors .MuiAlert-root {
	margin-bottom: 5px !important;
}

.sendTemplateMessage__component__header__preview {
	max-height: 100px;
	max-width: 250px;
	object-fit: contain;
	margin-bottom: 5px;
	border-radius: 3px;
}

.sendTemplateMessage__section__headerImage__preview {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	border: 1px solid #ebebeb;
	border-radius: 8px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.sendTemplateMessage__section__headerImage__preview > img,
.sendTemplateMessage__section__headerImage__preview > video {
	width: 100%;
	height: auto;
	border-radius: 8px;
	object-fit: cover;
}

.sendTemplateMessage__section__headerImage__preview__document {
	width: 140px;
	height: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
}

@media only screen and (max-width: 750px) {
	.sendTemplateMessage__section {
		padding: 15px 15px;
	}
}
