.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0.30;
}

.sidebar__header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px;
    background-color: var(--gray-light);
    /*border-right: 1px solid lightgray;*/
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__tabs {
    display: grid;
    background-color: #f5f5f5;
}

.sidebar__tabs .MuiTab-root {
    min-width: 0;
}

.sidebar__results {
    flex: 1;
    background-color: white;
    overflow-y: auto;
    /*border-bottom-left-radius: 10px;*/
}

.sidebar__results > h3 {
    padding: 10px 15px;
    font-weight: 400;
    color: var(--color-primary);
}

.sidebar__results__chats {
    margin-bottom: 20px;
}

.sidebar__results__chats__noResult {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 10px 15px;
    word-break: break-all;
}

.sidebar__results__messages .MuiListItem-root {
    padding: 0;
}

.sidebar__menu__refresh {
    display: none !important;
}

@media only screen and (max-width: 750px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .sidebar__header {
        padding: 4px 10px;
    }

    .sidebar__menu__refresh {
        display: flex !important;
    }
}