.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.30;
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 15px;
    /*border-right: 1px solid lightgray;*/
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
}

.sidebar__headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__results {
    flex: 1;
    background-color: white;
    overflow-y: auto;
    /*border-bottom-left-radius: 10px;*/
}

.sidebar__results > h3 {
    padding: 10px 15px;
    font-weight: 400;
    color: #009688;
}

.sidebar__results__chats {
    margin-bottom: 20px;
}