.sidebarChat {
    display: flex;
    align-items: center;
    flex: 1 1;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
}

.sidebarChat.activeChat {
    background-color: #f5f5f5;
}

/*.sidebarChat:hover {
    background-color: #f5f5f5;
}*/

.sidebarChat .MuiAvatar-root {
    align-self: baseline;
    height: 45px;
    width: 45px;
}

.sidebarChat__info__nameWrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.sidebarChat__info__nameWrapper h2 {
    font-weight: 400;
    font-size: 16px;
    flex: 1;
}

.sidebarChat__info__nameWrapper__lastMessageDate {
    font-size: 12px;
}

.sidebarChat:hover .sidebarChat__info__waId {
    display: inline-block;
}

.sidebarChat__info__waId {
    display: none;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    margin-left: 5px;
}

.sidebarChat__info__lastMessage {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    width: 220px;
}

.sidebarChat__info__lastMessage__new {
    font-weight: 600;
    color: #212529;
}

.sidebarChat__info__lastMessage__body .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.3) !important;
    height: 0.85em;
    width: 0.85em;
    margin-left: -2px;
    margin-right: 5px;
}

.sidebarChat__info__lastMessage__body .chatMessageTypeLabel {
    font-weight: 600;
}

.sidebarChat__info__expired {
    font-size: 12px;
    color: #a9a92a;
}

.sidebarChat__info__timeLeft {
    font-size: 12px;
    color: #00b9d9;
}

.sidebarChat__info__expired, .sidebarChat__info__timeLeft {
    display: block;
    margin-top: 5px;
}

.sidebarChat__info {
    flex: 1;
    margin-left: 15px;
}

.sidebar__results__chats .MuiListItem-root {
    padding: 0;
}

@media only screen and (max-width: 750px) {
    /*.sidebarChat:hover {
        background-color: inherit;
    }*/
}