.sidebarContactResult {
	display: flex;
	padding: 10px 15px;
	cursor: pointer;
}

.sidebarContactResult.activeChat {
	background-color: var(--gray-lighter);
}

.sidebarContactResult:hover {
	background-color: var(--gray-lighter);
}

.sidebarContactResult__info > h2 {
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 3px;
}

.sidebarContactResult__info__status {
	color: var(--lighter-text-color);
	margin-bottom: 0;
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	width: 220px;
}

.sidebarContactResult__info {
	margin-left: 15px;
}
