.bulkSendTemplateViaCSV .MuiAutocomplete-tag {
	margin: 6px 3px !important;
}

.template__component {
	padding: 10px 15px;
	border-radius: 10px;
	background-color: rgba(0, 0, 45, 0.03);
	margin-bottom: 20px;
}

/*.template__component__parameter {
	padding: 15px 20px;
	border-radius: 10px;
	background-color: rgba(0, 0, 45, 0.03);
	margin-top: 10px;
}*/
