.uploadingMediaIndicatorWrapper {
	display: flex;
	flex-direction: column;
}

.uploadingMediaIndicator .MuiLinearProgress-root {
	height: 3px;
	margin-top: 10px;
}

.app__body > .uploadingMediaIndicatorWrapper {
	pointer-events: none;
	position: absolute;
	z-index: 10;
	margin-left: 30%;
	margin-right: 15px;
	margin-top: 70px;
}

.app__body > .uploadingMediaIndicatorWrapper .uploadingMediaIndicator {
	box-shadow: -1px 6px 10px -6px rgba(0, 0, 0, 0.4);
}
