.voiceRecord {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.voiceRecord__cancelButton {
    background-color: rgba(255, 0, 0, 0.1) !important;
    margin-right: 20px !important;
}

.voiceRecord__cancelButton .MuiSvgIcon-root {
    color: red !important;
}

.voiceRecord__sendButton {
    background-color: rgba(0, 255, 0, 0.1) !important;
}

.voiceRecord__sendButton .MuiSvgIcon-root {
    color: green !important;
}

.voiceRecord__recordIcon {
    color: red !important;
    margin-right: 2px;
}

.voiceRecord__timer {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 20px;
    min-width: 48px;
    text-align: center;
}