{
    "API_BASE_URL": "${APP_API_BASE_URL}",
    "APP_SENTRY_DSN": "${APP_SENTRY_DSN}",
    "APP_ENV_NAME": "${APP_ENV_NAME}",
    "APP_SENTRY_TAG_CLIENT": "${APP_SENTRY_TAG_CLIENT}",
    "APP_NOTIFICATIONS_LIMIT_PER_MINUTE": "${APP_NOTIFICATIONS_LIMIT_PER_MINUTE}",
    "APP_GOOGLE_MAPS_API_KEY": "${APP_GOOGLE_MAPS_API_KEY}",
    "APP_MAX_BULK_DIRECT_RECIPIENTS": "${APP_MAX_BULK_DIRECT_RECIPIENTS}",
    "APP_MAX_BULK_TAG_RECIPIENTS": "${APP_MAX_BULK_TAG_RECIPIENTS}",
    "APP_IS_READ_ONLY": "${APP_IS_READ_ONLY}"
}
