.container {
	padding: 5px 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	font-size: 14px;
}

.containerSelected {
	background-color: #f2f3f6;
}

.descriptionContainer {
	font-size: 12px;
	color: rgba(0, 45, 0, 0.6);
	white-space: pre-line;
}
