.documentMessage {
	display: flex;
	border-radius: 6px;
	margin: -1px -6px 4px -6px;
	padding: 10px 6px;
	background-color: rgba(0, 0, 45, 0.05);
	color: #4a4a4a;

	&:hover {
		background-color: rgba(0, 0, 45, 0.08);
	}
}

.documentMessageFilename {
	margin-left: 5px;
}
