.container {
	background-color: var(--color-primary);
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
}

.container > h3 {
	font-weight: 400;
	font-size: 18px;
	color: white;
}

.recipients {
	font-size: 14px;
	color: white;
}

.actions {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.actions :global(.MuiButton-text) {
	color: white;
}

.actions :global(.MuiButton-root:first-of-type) :global(.MuiButton-label) {
	opacity: 0.75;
}
