.root {
	position: relative;
	min-width: 180px;
}

.header,
.footer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header {
	margin: 0 -5px 5px -5px;
	border-bottom: 1px solid #eee;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	padding: 8px;
}

.avatar {
	height: 35px !important;
	width: 35px !important;
}

.name {
	font-weight: 600;
}

.footer {
	justify-content: center;
}

.messageButton {
	flex: 1;
}
