.root {
	position: relative;
	min-width: 180px;
}

.header,
.footer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.header {
	margin: 0 -5px 10px -5px;
	border-bottom: 1px solid #eee;
	background-color: rgba(0, 0, 0, 0.07);
	border-radius: 6px;
	padding: 5px;
}

.avatar {
	height: 32px !important;
	width: 32px !important;
	border-radius: 5px !important;
}

.name {
	font-weight: 600;
}

.footer {
	justify-content: center;
}
