.subRow {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 10px;
}

.assigneeActions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin-right: 5px;
	gap: 5px;
}

.assigneeActions :global(.assigneeChip) {
	background-color: rgba(0, 0, 45, 0.06);
}
