.wrapper {
	background-color: white;
}

.listItem {
	padding: 0 !important;
	margin: 0 !important;
}

.container {
	display: flex;
	align-items: center;
	flex: 1 1;
	padding: 10px 15px;
	cursor: pointer;
}

.container :global(.MuiAvatar-root) {
	align-self: baseline;
	height: 50px;
	width: 50px;
}

.avatarWrapper {
	position: relative;
}

.avatarWrapper :global(.contactProviderHeader) {
	display: flex;
	position: absolute;
	bottom: -3px;
	right: -3px;
	padding: 3px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 3px var(--shadow-light);
}

.contactProviderHeader {
	display: flex;
	position: absolute;
	bottom: -3px;
	right: -3px;
	padding: 3px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 3px var(--shadow-light);
}

.info {
	display: flex;
	flex-direction: column;
	flex: 1 1;
	margin-left: 15px;
}

.name {
	font-weight: 600;
	font-size: 14px;
}

.phoneNumber {
	font-size: 14px;
	color: var(--color-primary);
}

.missingPhoneNumber {
	font-size: 12px;
	color: rgba(0, 0, 45, 0.4);
}

.otherPhoneNumbers {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	color: rgba(0, 0, 45, 0.6);
}

.phoneNumbers {
	background-color: var(--color-primary-transparent);
	padding: 10px 15px;
}

.phoneNumbersTitle {
	font-size: 12px;
	color: var(--color-primary);
}

.choice {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 15px;
	background-color: white;
	color: var(--color-primary);
	margin-top: 5px;
	margin-right: 10px;
	box-shadow: 0 4px 5px -6px rgba(0, 0, 45, 0.4);
	transition: box-shadow ease 0.3s;
}

.choice:hover {
	box-shadow: 0 4px 10px -6px rgba(0, 0, 45, 0.4);
}
