.title {
	margin-bottom: 5px;
}

.list {
	list-style: none;
	margin: 0;
	padding: 4px;
	border-radius: 2px;
	background: #f7f6ef;
	margin-bottom: 5px;
}

.item + .item {
	margin-top: 4px;
	padding-top: 4px;
	border-top: 1px solid #ebebeb;
}
