.container {
	overflow: hidden;
	background: #fff;
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 10px;
	border-radius: 10px;
	border: 2px solid #fff;
	z-index: 999;
}

.searchInput {
	outline: 0;
	border: none;
	background-color: var(--gray-light);
	padding: 10px 15px;
	font-size: 16px;
	flex: 1;
}

.results {
	padding: 5px 0;
	max-height: 315px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: 0;
	border: none;
}

.noResult {
	font-size: 14px;
	color: rgba(0, 0, 45, 0.5);
	padding: 5px 15px;
}
