.container {
	background-color: var(--gray-light) !important;
	border-radius: 10px !important;
	font-size: 12px;
	height: 19px;
	display: inline-flex !important;
	flex-direction: row;
	align-items: center !important;
	vertical-align: top !important;
	padding: 0 0 0 5px !important;
	margin-right: 5px !important;
}

.container :global(.MuiSvgIcon-root) {
	height: 12px !important;
	width: 12px !important;
}

.container.active {
	background-color: var(--color-primary) !important;
	color: white;
}

.container.active > :global(.MuiSvgIcon-root) {
	color: white !important;
}

.label {
	margin: 0 5px;
}

.actionIcon {
	height: 19px !important;
	width: 19px !important;
	margin-left: -2px !important;
}

.actionIcon :global(.MuiSvgIcon-root) {
	color: white !important;
}
