.container {
	display: flex;
	flex-direction: column;
	flex: 0.4 1;
	border-left: 1px solid lightgray;
	z-index: 10;
}

.header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	padding: 4px 15px;
	background-color: var(--gray-light);
}

.header > h3 {
	margin-left: 15px;
	font-weight: 400;
	font-size: 18px;
}

.body {
	background-color: #fff;
	flex: 1 1;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.preview {
	background-color: var(--chat-bg);
	padding: 15px;
}

.preview :global(.chat__message.hiddenSender) {
	margin-top: 0;
	margin-bottom: 0;
}

@media only screen and (max-width: 750px) {
	.container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-left: none;
	}

	.header {
		padding: 4px 10px;
	}
}
