.container {
	position: relative;
	border-left: 1px solid lightgray;
	display: flex;
	flex-direction: column;
}

.row {
	flex: 1;
}

.actionsRow {
	display: flex;
	flex-direction: row;
	padding: 5px 10px 10px 10px;
	gap: 7px;
}

.actionsRowLeft,
.actionsRowRight {
	display: flex;
	flex-direction: row;
	gap: 7px;
	align-items: center;
}

.actionSeparator {
	width: 1px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 5px;
}

.actionIcon {
	transition: all ease-in 0.2s;
}

.actionIcon.active {
	box-shadow: -1px 4px 5px -6px rgba(0, 0, 45, 0.4);
	background-color: #fff !important;
	transition: all ease-in 0.2s;
}

.actionIcon :global(.MuiSvgIcon-root) {
	height: 20px;
	width: 20px;
	color: #5d5958 !important;
	transition: color ease-in 0.2s;
}

.actionIcon.active :global(.MuiSvgIcon-root) {
	color: #463732 !important;
}

.commandActionIcon :global(.MuiSvgIcon-root) {
	color: #44c21e !important;
}

.actionsRowRight {
	flex: 1;
	justify-content: flex-end;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	/*min-height: 62px;*/
	max-height: 400px;
	/*border-top: 1px solid lightgray;*/
}

.emojiPicker {
	flex: 1;
	background-color: #fff;
	border-radius: 10px;
	margin: 10px;
}

.footer.expired {
	height: auto !important;
	align-items: normal;
	flex-direction: column;
	padding: 15px;
	border-left: 1px solid lightgray;
}

.footer > :global(.MuiIconButton-root) {
	padding: 10px !important;
}

.footer > form {
	flex: 1;
	display: flex;
}

.typeBox {
	overflow: hidden;
}

.footer > form > textarea,
.typeBox {
	position: relative;
	background-color: white;
	height: auto;
	/*height: 25px;*/
	/*max-height: 400px;*/
	/*resize: none;*/
	flex: 1;
	border-radius: 10px;
	margin-bottom: 5px;
	border: none;
	box-shadow: -1px 4px 5px -6px rgba(0, 0, 45, 0.4);
}

.typeBox.expired {
	background-color: #f2edea;
	box-shadow: none;
}

.footer > form > textarea:focus,
.typeBox {
	outline: none;
	border: none;
}

.typeBoxEditable,
.typeBoxHint {
	padding: 8px 15px;
}

.typeBoxHint {
	position: absolute;
	/*top: 50%;
    transform: translateY(-50%);*/
	z-index: 0;
	color: #9c8173;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding-right: 25px;
}

.typeBox.expired .typeBoxHint {
	color: #736054;
}

[contenteditable] {
	outline: 1px solid transparent;
}

.typeBoxEditable {
	position: relative;
	z-index: 100;
	width: 100%;
	min-height: 26px;
	max-height: 250px;
	overflow-y: auto;
	word-break: break-word;
}

.footer > form > button {
	display: none;
}

.footer > :global(.MuiSvgIcon-root) {
	color: var(--lighter-text-color);
}

.expiredWarning {
	font-size: 14px;
	color: var(--lighter-text-color);
}

.attachmentContainer {
	display: flex;
	flex-direction: row;
	gap: 5px;
	border-radius: 20px;
}

.attachmentContainer.open {
	background-color: rgba(0, 0, 0, 0.05);
}

.attachmentOptions {
	display: flex;
	flex-direction: row;
	gap: 7px;
	margin-left: 5px;
}

.scrollButtonWrapper {
	position: absolute !important;
	bottom: 112px;
	right: 20px;
}

.scrollButtonWrapper :global(.MuiBadge-anchorOriginTopLeftRectangle) {
	top: 3px;
	left: 3px;
}

.scrollButton {
	background-color: white !important;
}

.scrollButton :global(.MuiSvgIcon-root) {
	color: var(--color-primary-light) !important;
}

@media only screen and (max-width: 750px) {
	.container {
		border-left: none;
	}

	.footer.expired {
		border-left: none;
	}

	.typeBoxEditable {
		max-height: 160px;
	}

	.attachmentOptions {
		margin-left: 0;
	}
}
