.container {
	position: relative;
	border-left: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	background-color: var(--chat-bg);
}

.row {
	flex: 1;
}

.actionsRow {
	display: flex;
	flex-direction: row;
	padding: 5px 10px 10px 10px;
	gap: 5px;
}

.actionIcon :global(.MuiSvgIcon-root) {
	height: 20px;
	width: 20px;
	color: #5d5958 !important;
}

.actionIcon.active :global(.MuiSvgIcon-root) {
	color: var(--color-primary) !important;
}

.commandActionIcon :global(.MuiSvgIcon-root) {
	color: #44c21e !important;
}

.actionsRowRight {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 5px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	/*min-height: 62px;*/
	max-height: 400px;
	/*border-top: 1px solid lightgray;*/
}

.emojiPicker {
	flex: 1;
	background-color: #fff;
	border-radius: 10px;
	margin: 10px;
}

.footer.expired {
	height: auto !important;
	align-items: normal;
	flex-direction: column;
	padding: 15px;
	border-left: 1px solid lightgray;
}

.footer > :global(.MuiIconButton-root) {
	padding: 10px !important;
}

.footer > form {
	flex: 1;
	display: flex;
}

.footer > form > textarea,
.typeBox {
	position: relative;
	background-color: white;
	height: auto;
	/*height: 25px;*/
	/*max-height: 400px;*/
	/*resize: none;*/
	flex: 1;
	border-radius: 10px;
	padding: 8px 15px;
	margin-bottom: 5px;
	border: none;
	box-shadow: -1px 4px 5px -6px rgba(0, 0, 45, 0.4);
}

.typeBox.expired {
	background-color: #f2edea;
	box-shadow: none;
}

.footer > form > textarea:focus,
.typeBox {
	outline: none;
	border: none;
}

.typeBoxHint {
	position: absolute;
	/*top: 50%;
    transform: translateY(-50%);*/
	z-index: 0;
	color: #868a9b;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding-right: 25px;
}

.typeBox.expired .typeBoxHint {
	color: #626573;
}

[contenteditable] {
	outline: 1px solid transparent;
}

.typeBoxEditable {
	position: relative;
	z-index: 100;
	width: 100%;
	min-height: 26px;
	max-height: 350px;
	overflow-y: auto;
	word-break: break-word;
}

.footer > form > button {
	display: none;
}

.footer > :global(.MuiSvgIcon-root) {
	/*padding: 10px;*/
	color: var(--lighter-text-color);
}

.expiredWarning {
	font-size: 14px;
	color: var(--lighter-text-color);
}

.attachmentContainer {
	position: relative;
}

.attachmentContainer:hover .attachmentOptions,
.attachmentOptions:hover {
	display: block;
}

.attachmentOptions {
	display: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 0 15px 9px 15px;
	margin-bottom: 48px;
}

.attachmentOptions :global(.MuiButtonBase-root) {
	box-shadow: -1px 4px 12px -6px rgba(0, 0, 45, 0.85);
	margin-bottom: 15px;
}

.attachmentOptionDocument {
	background: linear-gradient(0deg, #5f66cd 50%, #5157ae 50%) !important;
}

.attachmentOptionDocument :global(.MuiSvgIcon-root) {
	color: white !important;
}

.attachmentOptionImageAndVideo {
	background: linear-gradient(0deg, #bf59cf 50%, #ac44cf 50%) !important;
}

.attachmentOptionImageAndVideo :global(.MuiSvgIcon-root) {
	color: white !important;
}

.footerMore {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--gray-light);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	z-index: 101;
}

.scrollButtonWrapper {
	position: absolute !important;
	bottom: 112px;
	right: 20px;
}

.scrollButtonWrapper :global(.MuiBadge-anchorOriginTopLeftRectangle) {
	top: 3px;
	left: 3px;
}

.scrollButton {
	background-color: white !important;
}

.scrollButton :global(.MuiSvgIcon-root) {
	color: var(--color-primary-light) !important;
}

@media only screen and (max-width: 750px) {
	.container {
		border-left: none;
	}

	.footer.expired {
		padding: 10px 15px;
		border-left: none;
	}

	.typeBox {
		margin: 10px 5px;
	}
}
